<h1>Listing links</h1>

<table>
  <tr>
    <th>Link in</th>
    <th></th>
    <th>Link out</th>
    <th></th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%= link.link_in %></td> 
    <td> I---> </td>
    <td><%= link.link_out %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Link', new_link_path %>
