<p id="notice"><%= notice %></p>
<p>
  <b>Shortened URL: </b><br/>
  <%= text_field_tag( "Shortened URL:", "#{request.env["HTTP_HOST"]}/#{@link.link_in}", 
  						{focus: true}) %>
</p>
<p>
  <b>Redirects to:</b></br>
  <%= @link.link_out %>
</p>

